@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins&display=swap');

.body {
    width: 350px;    
    padding: 25px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 20px;
    font-size: 13.5px;
    background-color: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins';
    font-weight: 400;    
    margin-bottom: 20px;
}

.title {
    margin-bottom: 5px;
    font-size: 35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}